<ion-view view-title="Products">
    <ion-nav-buttons side="right">
        <button class="button button-royal" ng-click="openModal();"><i class="icon ion-android-add"></i></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="products in productsArray">
                Product Name:{{products.pname}}
                <br/> Product Count:{{products.pcount}}
                <br/> Product Price:{{products.pprice}}
                <br/> Product Color:{{products.pcolor}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
<script id="add-product.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar-royal">
            <h1 class="title">Add Product</h1>
            <button class="button button-assertive" ng-click="closeModal();"><i class="icon ion-close-round">Close</i></button>
        </ion-header-bar>
        <ion-content class="padding" ng-controller="addProductCtrl">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Product Name</span>
                    <input type="text" ng-model="products.pname" />
                </label>
                <label class="item item-input">
                    <span class="input-label">Count</span>
                    <input type="text" ng-model="products.pcount" />
                </label>
                <label class="item item-input">
                    <span class="input-label">Price</span>
                    <input type="text" ng-model="products.pprice" />
                </label>
                <label class="item item-input">
                    <span class="input-label">Color</span>
                    <select ng-model="products.pcolor">
                        <option value="green"><strong>G</strong>reen</option>
                        <option value="white"><strong>W</strong>hite</option>
                    </select>
                </label>
                <div class="button-bar">
                    <button class="button button-balanced" ng-click="addProduct();">Save</button>
                    <button class="button button-assertive">Reset</button>
                </div>
            </ion-list>
        </ion-content>
    </ion-modal-view>
</script>
